<div class="container">
  <nav class="navigation">
    <ul>
      <li><a href="/#/browse">Browse</a></li>
      <li><a class="selected"><img src="../../assets/fiestaparrot.gif" height="15px"> Saved <img src="../../assets/fiestaparrot.gif" height="15px"></a></li>
      <li><a href="/#/submit">Submit</a></li>
    </ul>
  </nav>

  <div class="saved-content">
    <img class="bg-img" src="../../assets/saved.jpg">
    <div class="saved-left-box">
      <h2>Saved Food</h2>
      <div class="saved-item" ng-repeat="food in savedItems.food">
        <span class="saved-item-entry"><a href="{{food.url}}" target="_blank">{{food.title}}</a></span>
        <img src="../../assets/remove-icon-2.png" width="20px" ng-click="removeItem(food._id, food.category, $index)">
      </div>
    </div>
    <div class="saved-separator"></div>
    <div class="saved-right-box">
      <h2>Saved Drinks</h2>
      <div class="saved-item" ng-repeat="drink in savedItems.drink">
        <span class="saved-item-entry"><a href="{{drink.url}}" target="_blank">{{drink.title}}</a></span>
        <img src="../../assets/remove-icon-2.png" width="20px" ng-click="removeItem(drink._id, drink.category, $index)">
      </div>
    </div>
  </div>
</div>