# Thumbnails
._*

# Files that might appear on external disk
node_modules
project_files
npm-debug.log

# Floobits
.floo
.floobit
.flooignore

# Local development
*.env
*.dev

# Sublime files
mvp-project-hrr22.sublime-workspace