body {
  font-family: 'Roboto', sans-serif;
}

/* Navigation */
.navigation {
  width: 1100px;
  height: 40px;
  background-color: #999966;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 346px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ebd9c6;
}

.navigation li a.selected {
  background-color: #c2c2a3;
}

/* Background images for each page */
.browse-content, .saved-content, .submit-content {
  width: 1100px;
  display: inline;
  position: relative;
}

.bg-img {
  width: 1100px;
  position: absolute;
  z-index: -1;
}

/* Browse */
.browse-separator {
  width: 370px;
  float: left;
  margin: 1px 1px;
}

.browse-detail-box {
  width: 600px;
  height: 520px;
  border-radius: 10px;
  opacity: 0.95;
  background-color: #00d0ff;
  float: left;
  margin: 40px 0px 0px 0px;
  padding: 5px 20px 20px 20px;
}

.browse-detail-box h1 {
  color: #480000;
  text-decoration: underline;
}

.entry-box {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: #d3e4ff;
}

.entry-title, .entry-description, .entry-url, .entry-submittedBy {
  padding: 2px 10px 2px 15px;
}

.entry-title {
  font-weight: bold;
  font-size: 28px;
  padding-top: 10px;
}

.entry-description {
  font-size: 18px;
}

.entry-url {
  font-size: 14px;
  font-style: italic;
}

.entry-submittedBy {
  font-style: italic;
  color: red;
  padding-bottom: 10px;
}

.add, .skip {
  font-weight: bolder;
  width: 48%;
  margin-top: 20px;
  padding: 15px;
}

.add {
  float: left;
  background-color: #84ff94;
}

.skip {
  float: right;
  background-color: #ffadad;
}

.toggle {
  font-weight: bolder;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}


/* Saved */
.saved-content h2 {
  text-decoration: underline;
}

.saved-left-box, .saved-right-box {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #adffb5;
  float: left;
  margin: 28px 0px 0px 37px;
  padding: 5px 20px 20px 20px;
}

.saved-separator {
  width: 335px;
  float: left;
  margin: 1px 1px;
}

.saved-right-box {
  margin: 28px 0px 0px 0px;
}

.saved-item {
  margin-bottom: 15px;
}

.saved-item img {
  vertical-align: bottom
}

.saved-item-entry {
  font-size: 18px;
}

.saved-item-entry a {
  text-decoration: none
}

/* Submit */
.submit-content form {
  max-width: 420px;
  margin: 20px 0 0 50px;
  padding: 25px;
  background-color:grey;
}

.submit-content li {
  padding: 0 0 10px 0;
  display: block;
  list-style: none;
}

.submit-content label {
  padding: 0 0 5px 0;
  display: block;
  font-weight: bold;
}

.submit-content input {
  width: 400px;
}

.submit-content button {
  font-weight: bolder;
  padding: 5px 20px;
}