.navigation {
  width: 1100px;
  height: 40px;
  background-color: #999966;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 346px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ebd9c6;
}

.navigation li a.selected {
  background-color: #c2c2a3;
}

.browse-button-box {
  border-style: solid;
  border-width: 2px;
}