<div class="container">
  <nav class="navigation">
    <ul>
      <li><a class="selected"><img src="../../assets/fiestaparrot.gif" height="15px"> Browse <img src="../../assets/fiestaparrot.gif" height="15px"></a></li>
      <li><a href="/#/saved">Saved</a></li>
      <li><a href="/#/submit">Submit</a></li>
    </ul>
  </nav>

  <div class="browse-content">
    <img class="bg-img" src="../../assets/generator.jpg">
    <div class="browse-separator"></div>
    <div class="browse-detail-box">
      <h1>{{titles[currCategory]}}</h1>
      <h2>{{currPhrase}}</h2>

      <div class="entry-box">
        <div class="entry-title">{{currEntry["title"]}}</div>
        <div class="entry-description">{{currEntry["description"]}}</div>
        <div class="entry-url">Source: {{currEntry["url"]}}</div>
        <div class="entry-submittedBy">Submitted by {{currEntry["submittedBy"]}}</div>
      </div>

      <button class="add" ng-click="addToList()">Sounds dank</button>
      <button class="skip" ng-click="generateNext()">I ain't down for that</button><br />
      <button class="toggle" ng-click="toggleCategory()">{{switchButtonText[currCategory]}}</button>
    </div>
  </div>
</div>