<div class="container">
  <nav class="navigation">
    <ul>
      <li class="selected">Browse</li>
      <li><a href="/#/saved">Saved</a></li>
      <li><a href="/#/submit">Submit</a></li>
    </ul>
  </nav>

  <div class="content">
    <h2>
      {{titles[currCategory]}}<br />
      {{currPhrase}}
    </h2>
    <div class="browse-content">
      <div class="entry-title">{{currEntry["title"]}}</div>
      <div class="entry-description">Description: {{currEntry["description"]}}</div>
      <div class="entry-url">Source: {{currEntry["url"]}}</div>
      <div class="entry-submittedBy">Submitted by {{currEntry["submittedBy"]}}</div>
    </div>
    <div class="browse-button-box">
      <div ng-click="addToList()">Ye, dat sounds dank (left)</div>
      <div ng-click="generateNext()">I ain't down for that (right)</div>
      <div ng-click="toggleCategory()">{{switchButtonText[currCategory]}}</div>
    </div>
  </div>
</div>