<div class="container">
  <nav class="navigation">
    <ul>
      <li><a href="/#/browse">Browse</a></li>
      <li><a href="/#/saved">Saved</a></li>
      <li><a class="selected">Submit</a></li>
    </ul>
  </nav>

  <div class="submit-content">
    <form ng-submit="submitNewEntry()">
      Name: <input ng-model="submittedBy"/><br />
      Category:
        <select ng-model="category">
          <option value="food" selected>Food</option>
          <option value="drink">Drink</option>
        </select>
        <br />
      Title: <input ng-model="title"/><br />
      Description: <input ng-model="description"/><br />
      URL: <input ng-model="url"/><br />
      <button type="submit">Submit</button>
    </form>
  </div>

</div>