<div class="container">
  <nav class="navigation">
    <ul>
      <li><a href="/#/browse">Browse</a></li>
      <li><a href="/#/saved">Saved</a></li>
      <li><a class="selected"><img src="../../assets/fiestaparrot.gif" height="15px"> Submit <img src="../../assets/fiestaparrot.gif" height="15px"></a></li>
    </ul>
  </nav>

  <div class="submit-content">
    <img class="bg-img" src="../../assets/submit.jpg">
    <form ng-submit="submitNewEntry()">
      <div class="submit-header">Drop a suggestion to Cody's Server</div>
      <li>
        <label>Name</label>
        <input ng-model="submittedBy"/>
      </li>
      <li>
        <label>Category</label>
        <select ng-model="category">
          <option value="food">Food</option>
          <option value="drink">Drink</option>
        </select>
      </li>
      <li>
        <label>Title</label>
        <input ng-model="title"/>
      </li>
      <li>
        <label>Description</label>
        <textarea ng-model="description" cols="54" rows="3"></textarea>
      </li>
      <li>
        <label>URL (must include "http://")</label>
        <input class="url" ng-model="url"/>
      </li>
      <li>
        <button type="submit">Submit</button>
      </li>
    </form>
  </div>

</div>